<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>K-Anonymizer</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/main.css"/>
</head>
<body>

<nav th:replace="navbar.html"></nav>

<div class="app">

    <div><h3>Settings</h3></div>
    <div class="w-50 mb-3">
        The <span class="b">biobank name</span> will allow to distinguish the anonymized data provided by the particular biobank among the results
        returned by the Collection Locator. The <span class="b">Collection Locator URL</span> corresponds to the running instance of the Locator server and will be used by K-Anonymizer for
        the communication with this instance, namely receiving anonymization definitions and sending back anonymized datasets.
    </div>
        <form method="post" th:action="@{/options}" th:object="${command}" enctype="multipart/form-data" class="w-50">
            <table class="form-table">
                <tr class="form-group">
                    <td>Biobank name:</td>
                    <td class="input-element">
                        <input type="text" class="form-control" th:field="*{biobankId}"/>
                    </td>
                <tr class="form-group">
                    <td>Collection Locator URL:</td>
                    <td class="input-element">
                        <input type="text" class="form-control" th:field="*{indexGenUrl}"/>
                    </td>
                </tr>
            </table>
            <button type="submit" class="btn btn-primary mt-3"><i class="fa fa-save"></i> Save</button>
        </form>
</div>

<script src=https://code.jquery.com/jquery-3.6.0.min.js></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>
