<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>K-Anonymizer</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/main.css"/>
</head>
<body>

<nav th:replace="navbar.html"></nav>
<div class="app">
<!--<div class="card">-->
<!--    <div class="card-header">-->
    <h3>New Anonymized Dataset Based on Definition (Step 2)</h3>
    <!--    </div>-->
<!--    <div class="card-body">-->
        <form method="post" class="w-75" th:action="@{/combine/match}" th:object="${command}" enctype="multipart/form-data">
            <div style="display: flex; flex-wrap: wrap;">
                <div class="card" style="width: 100%; margin: 10px;">
                    <div class="card-body">
                        <input type="hidden" th:field="*{definitionId}">
                        <input type="hidden" th:field="*{collectionId}">
                        <table class="form-table">
                            <tr class="form-group">
                                <td class="b">Definition:</td>
                                <td><span th:text="${definition.name}"></span></td>
                            </tr>
                            <tr class="form-group">
                                <td class="b">Collection:</td>
                                <td><span th:text="${collection.name}"></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="card" style="width: 48%; margin: 10px;" th:each="element, stat : *{columns}">
                    <div class="card-body">
                        <table class="form-table">
                            <tr class="form-group">
                                <td class="b">Definition Column:</td>
                                <td class="input-element">
                                    <input type="hidden" th:field="*{columns[__${stat.index}__].definitionColumnPosition}">
                                    <input type="hidden" th:field="*{columns[__${stat.index}__].definitionColumnName}">
                                    <input type="hidden" th:field="*{columns[__${stat.index}__].definitionColumnCode}">
                                    <span th:text="*{columns[__${stat.index}__].definitionColumnName}"></span> (<span th:text="*{columns[__${stat.index}__].definitionColumnCode}"></span>)
                                </td>
                            </tr>
                            <tr class="form-group">
                                <td class="b">Collection Column:</td>
                                <td th:if="*{columns[__${stat.index}__].matched}">
                                    <input type="hidden" th:field="*{columns[__${stat.index}__].collectionColumnPosition}">
                                    <input type="hidden" th:field="*{columns[__${stat.index}__].collectionColumnName}">
                                    <input type="hidden" th:field="*{columns[__${stat.index}__].collectionColumnCode}">
                                    <span th:text="*{columns[__${stat.index}__].collectionColumnName}"></span> (<span th:text="*{columns[__${stat.index}__].collectionColumnCode}"></span>)
                                </td>
                                <td th:unless="*{columns[__${stat.index}__].matched}">
                                    <div class="alert alert-danger" role="alert"> No Match for this Column found! </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <a class="mt-3 btn btn-primary" href="/combine"><i class="fa fa-arrow-left"></i> Previous</a>
            <span th:if="${command.matchable}">
                <button type="submit" class="mt-3 btn btn-primary"><i class="fa fa-save"></i> Create Dataset</button>
            </span>
        </form>
<!--    </div>-->
<!--</div>-->
</div>
<script src=https://code.jquery.com/jquery-3.6.0.min.js></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>
