/project-searching-in-the-omop-based-repository/frontend/node_modules/
/project-collection-locator-impl/db/AthenaVocabDownloads/LOINC+/CONCEPT.csv
/project-collection-locator-impl/db/AthenaVocabDownloads/LOINC+/CONCEPT_ANCESTOR.csv
/project-collection-locator-impl/db/AthenaVocabDownloads/LOINC+/CONCEPT_RELATIONSHIP.csv
/project-collection-locator-impl/db/AthenaVocabDownloads/LOINC+/CONCEPT_SYNONYM.csv
/project-searching-in-the-omop-based-repository/docker/cdm_dump.sql