<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New Anonymization</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<nav style="margin-bottom: 10px;" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">K-Anonymizer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/collections}">Collections</a>
                </li>
            </ul>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/new}">Anonymizations</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="card">
    <div class="card-header">
        New Collection
    </div>
    <div class="card-body">
        <form method="post" th:action="@{/collections/new}" th:object="${command}"
              enctype="multipart/form-data">
            <table style="width: 100%">
                <tr class="form-group">
                    <td>Name:</td>
                    <td><input type="text" th:field="*{name}" class="form-control"></td>
                </tr>
                <tr class="form-group">
                    <td>File:</td>
                    <td><input type="file" th:field="*{file}" class="form-control"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit" class="btn btn-outline-primary">Save</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>