<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>K-Anonymizer</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/main.css"/>
</head>
<body>

<nav th:replace="navbar.html"></nav>

<div class="app">
<form method="post" th:action="@{/collections/{id}/edit(id=${collection.id})}" th:object="${command}"
      enctype="multipart/form-data">
    <h3>Edit Collection: <span th:text="${collection.name}  + ' (' + ${collection.id} + ')'"/></h3>
            <table class="form-table" style="width: 48%; margin: 10px;">
                <tr class="form-group">
                    <td>Collection Name:</td>
                    <td><input type="text" th:field="*{name}" class="form-control"></td>
                </tr>
                <tr class="form-group">
                    <td>Default Target K:</td>
                    <td class="input-element">
                        <input type="text" th:field="*{targetK}"
                               class="form-control">
                    </td>
                </tr>
            </table>

    <h4>Properties</h4>
    <p>
    The property type can be set to one of three possible values: "Identifier", "Quasiidentifier" and "Secret".
    <ol>
    <li>The property of type "Identifier" uniquely identifies the object.</li>
    <li>The property of type "Quasiidentifier" likely allows to identify the object, especially if taken together with other properties of this type.</li>
    <li>The property of type "Secret" does not allow to identify the object in any case, such properties may not be anonymized.</li>
    </ol>
    The data type can be set to one of three possible values: "Number", "Structured Number" and "Custom Hierarchy".
    <ol>
        <li>The property of data type "Number" represents the numbers for which only the values matter.</li>
        <li>The property of type "Structured Number" represents the number for which some of its structural subsets matter e.g. PLZ where the first two digits
            identify the region.</li>
        <li>The property of type "Custom hierarchy" represents values organized in a hierarchy (e.g. state-province-sity), such a hierarchy is expected to be uploaded.</li>
    </ol>
    </p>
        <div style="display: flex; flex-wrap: wrap;">
            <div class="card bg-light" style="width: 48%; margin: 10px;" th:each="element, stat : *{columns}">
                <div class="card-body">
                    <input type="hidden" th:field="*{columns[__${stat.index}__].position}">
                    <table class="form-table w-100">
                        <tr class="form-group">
                            <td>Property Name:</td>
                            <td class="input-element">
                                <input type="text" th:field="*{columns[__${stat.index}__].name}"
                                       class="form-control">
                            </td>
                        </tr>
                        <tr class="form-group">
                            <td>CDM Concept ID:</td>
                            <td>

                                <select
                                        style="width: 100%"
                                        class="form-select select2-single loinc"
                                        th:field="*{columns[__${stat.index}__].code}"
                                        th:attr="data-selected-text=*{columns[__${stat.index}__].code}"
                                >
                                    <!-- This option will be in the DOM immediately, so Select2 can pick it up -->
                                    <option
                                            th:if="*{columns[__${stat.index}__].code != null}"
                                            th:value="*{columns[__${stat.index}__].code}"
                                            th:text="*{columns[__${stat.index}__].codeText}"
                                            selected
                                    ></option>
                                </select>

                            </td>
                        </tr>
                        <tr class="form-group">
                            <td>Property Type:</td>
                            <td class="input-element">
                                <select class="form-select typ-select" th:field="*{columns[__${stat.index}__].typ}" th:attr="data-index=${stat.index}">
                                    <option th:each="typ : ${columnTyps}" th:value="${typ.code}"
                                            th:text="${typ.description}">
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr class="form-group datatype-container" th:attr="data-index=${stat.index}">
                            <td>Data Type:</td>
                            <td class="input-element">
                                <select class="form-select datatyp-select" th:field="*{columns[__${stat.index}__].dataTyp}" th:attr="data-index=${stat.index}">
                                    <option th:each="dataTyp : ${columnDataTyps}" th:value="${dataTyp.code}"
                                            th:text="${dataTyp.description}">
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr class="form-group file-container" th:attr="data-index=${stat.index}">
                            <td>Hierarchy:</td>
                            <td class="input-element">
                                <input type="file" th:field="*{columns[__${stat.index}__].hierarchyFile}"
                                       class="form-control">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    <button type="submit" class="mt-5 btn btn-primary"><i class="fa fa-save"></i> Save</button>
    <a class="mt-5 btn btn-outline-primary" href="/collections">Back to collections list</a>

</form>
</div>

<script src=https://code.jquery.com/jquery-3.6.0.min.js></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.full.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.2.0/dist/select2-bootstrap-5-theme.min.css" />

<script type="text/javascript">
    $(document).ready(function() {
        $('.datatyp-select').each(function () {
            formVisible($(this));
        });
        $('.typ-select').each(function () {
            formVisible($(this));
        });
        $('.typ-select').change(function () {
            formVisible($(this));
        });
        $('.datatyp-select').change(function () {
            formVisible($(this));
        });
    });

    function formVisible(context) {
        let id = context.attr('data-index');
        let typ = $('.typ-select[data-index='  + id + ']').val();
        let datatyp = $('.datatyp-select[data-index='  + id + ']').val();

        let datatypcontainer = $('.datatype-container[data-index='  + id + ']');
        let filecontainer = $('.file-container[data-index='  + id + ']');

        datatypcontainer.show();
        filecontainer.show();

        if(typ !== 'qid'){
            datatypcontainer.hide();
            filecontainer.hide();
        }else {
            if(datatyp !== 'ch'){
                filecontainer.hide();
            }
        }
    }

    // $(".loinc").select2({
    //     theme: "bootstrap-5",
    //     ajax: {
    //         url: '/cdmconceptcautocomplete',
    //         dataType: 'json',
    //         delay: 250,
    //         processResults: function (response) {
    //             return {
    //                 results: response
    //             };
    //         },
    //         cache: true
    //     }
    // });

    $(".loinc").each(function() {
        const $select = $(this);

        // Grab the current value/text out of the DOM (you rendered a <option> with these)
        const selectedVal  = $select.val();
        const selectedText = $select.data("selected-text"); // set via `th:attr="data-selected-text=…"`

        $select.select2({
            theme: "bootstrap-5",
            ajax: {
                url: "/cdmconceptcautocomplete",
                dataType: "json",
                delay: 250,
                processResults(response) {
                    return { results: response };
                },
                cache: true
            }
        });

        // If there’s already a selected value, inject a “seed” option
        if (selectedVal && selectedText) {
            const option = new Option(selectedText, selectedVal, true, true);
            $select.append(option).trigger("change");
        }
    });

</script>
</body>
</html>
