<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Anonymized Dataset</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<nav style="margin-bottom: 10px;" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">K-Anonymizer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/anonymizations}">Anonymized Datasets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/anonymizations/new}">New Anonymized Dataset</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/combine}">New Combination</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="card">
    <div class="card-header">
        Anonymized Dataset: <span th:text="${anonymization.name}  + ' (' + ${anonymization.id} + ')'"/>
    </div>
    <div class="card-body">
        <div class="card-text">Target K: <span th:text="${anonymization.targetK}"/></div>
        <div class="card-text">Filename: <span th:text="${anonymization.fileName}"/></div>
        <br>
        <div class="card-text">Fast Mode: <span th:text="${anonymization.fast}"/></div>
        <div class="card-text">Batchsize: <span th:text="${anonymization.batch}"/></div>
        <br>
        <span th:if="${anonymization.anonymized}">
            <div class="card-text">Loss: <span th:text="${anonymization.loss}"/></div>
            <div class="card-text">Duration: <span th:text="${anonymization.duration}"/></div>
            <br>
        </span>
        <span th:if="${anonymization.running}">
            <div class="alert alert-warning" role="alert"> Anonymizations in progress. Please Wait! </div>
            <br>
        </span>
        <span th:if="!${anonymization.running}">
            <a class="btn btn-outline-primary" th:href="@{/anonymizations/{id}/edit(id=${anonymization.id})}">Edit Anonymized Dataset</a>
            <a class="btn btn-outline-secondary" th:href="@{/anonymizations/{id}/columns(id=${anonymization.id})}">Edit Anonymized Dataset Columns</a>
        </span>
    </div>
</div>


<script src=https://code.jquery.com/jquery-3.6.0.min.js></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>