<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>K-Anonymizer</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/main.css"/>
</head>
<body>

<nav th:replace="navbar.html"></nav>

<div class="app">
    <div class="card w-50">
        <div class="card-header">
            Anonymized Dataset: <span th:text="${anonymization.name} + ' (' + ${anonymization.id} + ')'"/>
        </div>
        <div class="card-body">
            <p class="card-text"><span class="b">Target K:</span> <span th:text="${anonymization.targetK}"/></p>
            <p class="card-text"><span class="b">Filename:</span> <span th:text="${anonymization.fileName}"/></p>
            <div th:id="|block__${anonymization.id}__|" th:style="${anonymization.anonymized} ? 'display:block;' : 'display:none;'">
                <p class="card-text"><span class="b">Loss:</span> <span th:id="|loss__${anonymization.id}__|" th:text="${anonymization.loss}"/></p>
                <p class="card-text"><span class="b">Duration:</span> <span th:id="|duration__${anonymization.id}__|" th:text="${anonymization.duration}"/></p>
            </div>
            <span th:if="${anonymization.fast}">
                    <p class="card-text">In Fast Mode with Batchsize of <span class="b"><span th:text="${anonymization.batch}"/></span></p>
                </span>
            <br>
            <div class="alert alert-warning" role="alert"
                 th:id="|statusBanner__${anonymization.id}__|"
                 style="display:none;">
                Anonymization in progress. Please wait…
            </div>
            <button
                    type="button"
                    class="btn btn-outline-success"
                    th:data-id="${anonymization.id}">
                <i class="fa fa-shield-alt"></i> Start Anonymization
            </button>

            <span th:id="|download__${anonymization.id}__|" th:style="${anonymization.anonymized} ? 'display:inline;' : 'display:none;'">
                        <a class="btn btn-outline-primary" th:href="@{/anonymize/{id}/download(id=${anonymization.id})}"><i class="fa fa-download"></i>
                            Download Anonymized Data</a>
                        <a class="btn btn-outline-primary" target="_blank" th:href="@{/api/sendData/{id}(id=${anonymization.id})}"><i class="fa fa-paper-plane"></i>
                            Send Anonymized Data</a>
                </span>

            <a class="btn btn-outline-primary"
               th:href="@{/anonymizations/{id}/edit(id=${anonymization.id})}"><i class="fa fa-edit"></i> Edit</a>
            <!--                <a class="btn btn-outline-secondary" th:href="@{/anonymizations/{id}/columns(id=${anonymization.id})}">Edit Columns</a>-->
            <a class="btn btn-outline-danger"
               th:href="@{/anonymizations/{id}/delete(id=${anonymization.id})}"
               onclick="return confirm('Are you sure you want to delete this anonymized dataset?')"
            ><i class="fa fa-trash"></i> Delete</a>
            <a class="btn btn-outline-primary"
               th:href="@{/anonymizations}">
                Back to the list of datasets
            </a>
        </div>
    </div>
</div>


<script src=https://code.jquery.com/jquery-3.6.0.min.js></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
